<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Soccer Tips | Reset Password</title>
</head>
<body>
    <form id="resetPasswordForm">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" required />
        <button type="submit">Reset Password</button>
    </form>

    <script>
        const getQueryParam = (param) => {
            const url = new URL(window.location.href);
            const queries = {};
            url.search.slice(1).split('&').forEach(q => {
                const [key, value] = q.split('=');
                queries[key] = value;
            });

            return queries[param];
        };

        document.getElementById('resetPasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const password = event.target.password.value;
            const confirmPassword = event.target.confirm_password.value;
            const token = getQueryParam('token');

            if (password !== confirmPassword) {
                alert('Passwords do not match!');
                return;
            }

            try {
                const response = await fetch(`https://livesoccertipsss-qnq2.onrender.com/auth/resetpassword/${token}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ password, confirm_password: confirmPassword })
                });

                const data = await response.json();
                if (response.ok) {
                    alert('Password reset successful');
                } else {
                    alert(`Error: ${data.message}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
