<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Soccer Tips | resetpasworrd</title>
</head>
<body>
    <form id="resetPasswordForm">
        <input type="password" name="password" placeholder="New Password" required />
        <input type="password" name="confirm_password" placeholder="Confirm Password" required />
        <button type="submit">Reset Password</button>
    </form>

    <script>
          document.getElementById('resetPasswordForm').addEventListener('submit', async(event) =>{
           event.preventDefault();
           
           const password = event.taget.password.value;
           const confirmPassword = event.target.confirm_password.value;
           const token = window.locationpathname.split('/').pop();

           try{
            const response = await fetch('https://livesoccertipsss-qnq2.onrender.com/resetpassword/${token}', {
                method: 'PATCH',
                headers:{
                    'Content-Type':"application/json",
                },
                body:JSON.stringify({password, confirm_password: confirmPassword })
            });
            const data = await response.json();
            if (response.ok){
                alert('Password reset successful');
            }else {
                alert(`Error:${data.message}`);
            }
           }catch(error){
            console.error('Error', error);
           }
        });
    </script>
</body>
</html>