/* styling for the nav-bar */

header{
    background: linear-gradient(180deg,#302e94,#3e6fa8);
}


.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: dodgerblue;
}
.navbar-nav li a{
    color: white;
    font-size: 20px;
}

.navbar-nav li a:hover{
    color: palevioletred;

}
.live{
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    
}


#h2{

    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    
    
}
.fs-1{
    font-size: 5px;
}


#wrapper{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    font-weight: 300;
    color: white;
    font-size: 22px;
}

.wrap{
    margin-top: 45px;
}

#btn{
    background-color: plum;
    color: black;
    width: 20%;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    display: inline-block;
}
#btn:hover{
    background-color: green;
    color: white;
}

/* sec2 */

.sec2{
    /* box-shadow: 14px 15px 20px rgb(189, 178, 162); */
}

.sec3{
    color: black;
    font-size: 19px;
    font-weight: 400;
}

#sec4{
    border-radius: 14px;
}

.dent{
    box-shadow: 15px 15px 15px rgb(171, 156, 156);
}

/* Next Section Styling */


#bet1{
    margin-top: 30px;
    color: red;
}

#bet{
    background-color: black;
    color: white;
    margin-top: 26px;
}

.sec33{
    color: rgb(54, 48, 48);
    box-shadow: 40px 40px 40px rgba(238, 233, 233, 0.954);
    
}

/* 4th section */




.baller{
    box-shadow: 15px 15px  15px rgb(194, 187, 178);
}

/* 5th Selection */
.sec13{
    font-size: 23px;
    color: black;
    font-weight: 450;
}

/* 6th section */

.dump{
    background-color: rgb(62, 148, 62);
    text-align: center;
    
    color: bisque;
    padding-top: 7px;
}

/* 7th styling */

.dart{
    color: black;
    font-size: 25px;
}

.drain{
    background-color: black;
    color: antiquewhite;
}

.drain2{
    color: aquamarine;
    text-decoration: none;
}

#dave{
    font-size: 50px;
}
.dental{
    font-size: 30px;
}

/* about section */

.bambi{
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
    padding-top: 50px;
    padding-bottom: 85px;
}
.alla{
    background: linear-gradient( rgba(26, 24, 24, 0.74), rgba(0, 0, 0, 0.671)), url(football\ for\ soccertipsss3.jpg);

}
.halo{
    background-color: white;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgba(185, 181, 181, 0.507);
    margin-top: 1rem;

}
.halo ul li{
    display: inline-block;
    position: relative;
    top: -18px;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-right:10px ;
    margin-left: 10px;
    
}
.beg{
    word-spacing: 10px;
    padding-top: 30px;
}
.text{
    display: inline;
    margin-left: 35rem;
}

.card-title1{
    color: rgb(33, 30, 30);
    font-weight: 500;
    font-size: 19px;
}

.block{
    background-color: black;
    color: white;
    margin-top: 50px;
}


/* login page */

.sign{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 10px;
}

.fill{
   color: blue;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fill:hover{
   text-decoration: underline;
}

.drinna{
   position: relative;
   
}
.in{
   margin-left: 40px;
}

.sign{
   position: relative;
   text-align: center;
   left: 110px;
}



.whiter{
    text-align: center;
    font-size: 30px;
    color: black;
}
.whiterr{
    text-align: center;
    color: black;
    font-size: 20px;
}

.drunk{
    text-decoration: none;
    color: blue;
}

.design-input{
    text-align: center;
    margin-top: 42px;
}

.design-input label{
    font-weight: bold;
}

.design-input input{
    width: 30%;
    height: 35px;
    border: ridge;
    box-sizing: border-box;
}

.design-input label button{
    width: 30%;
}

.tiles{
    width: 30%;
}


/* media queries  screen size 768*/


@media only screen and (max-width:768px) {
    
.sign{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 10px;
}

.fill{
   color: blue;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fill:hover{
   text-decoration: underline;
}

.drinna{
   position: relative;
   
}
.in{
   margin-left: 40px;
}

.sign{
   position: relative;
   text-align: center;
   left: 110px;
}

.shaker{
    
}

.whiter{
    text-align: center;
    font-size: 30px;
    color: black;
}
.whiterr{
    text-align: center;
    color: black;
    font-size: 20px;
}

.drunk{
    text-decoration: none;
    color: blue;
}






/* media queries 375 */




    /* Contact us styling */

    #fly{
      padding-top: 30px;
    }
    .us{
        display: flex;
        color: white;
    }
    .tips{
        display: inline-block;
        padding-top: 5px;
        margin-left: 20px;
    }
    .con{
        margin-left: 130px;
    }
    .con ul li{
        display: flex;
        display: inline-block;
        padding-top: 10px;
        margin-left: 10px;
    }
    .con ul li a{
        text-decoration: none;
        color: white;
    }
    .get{
        position: absolute;
        left: 1200px;
        margin-top: 20px;
        padding: 10px 5px;
        border-radius: 10px;
    }
    .tact{
        position: absolute;
        top: 500px ;
        left: 600px;
        font-size: larger;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    
    }
    .ask{
        display: flex;
        display: inline-block;
        margin-left: 70px;
    }
    .pls{
        display: flex;
        display: inline-block;
        margin-left: 90px;
    }
    .let{
        text-align: center;
    }
    .ask a{
        text-decoration: none;
    }
    .name{
        width: 90%;
        height: 30px;
    }



    /* dashboard styling */


    
   .dartt{
      background-color: #302e94;
      color: aliceblue;
      height: 25vh;
      text-align: center;
      box-shadow: 14px 14px 14px 14px rgba(199, 199, 206, 0.906);
      
    }

    #fasho{
        color: white;
    }

    #grow{
        margin-top: 40px;
    
    }

    /* .faot::after{
        content: "";
        height: 3px;
        width: 33%;
        display: block;
        background-color: #3e6fa8;
    } */


    #dash{
        background-color: gray;
        height: 5vh;
        margin-top: 15px;
        border-radius: 12px;
    }

    .dyg{
        text-align: end;
        color:white;
        font-weight: 800;
        font-size: 13px;
        padding-top: 4px;
    }

    .dyg1{
        color: red;
        box-shadow: 12px 14px 14px 13px rgb(250, 249, 249);
        margin-top: 15px;
        font-size: 25px;
    }

    .dyg3{
        text-decoration: none;
        color: blue;
    }

    #dash1{
        background-color: grey;
    }

    .danno{
        background-color: rgb(91, 86, 86);
        color: white;
        font-size: 28px;
        text-align: center;
    }

    
    